{% extends 'OpenContribViewBundle::main.html.twig' %}

{% block container %}
    <style>
        form {
            display: block;
        }
        .field {
            margin-top: 10px;
        }
        .title {
            margin-top: 40px;
        }
        label, input, textarea, select {
            margin-top: 5px;
        }

    </style>
<br><br>
    <div class="container">
        <div class="form-group">
            <h1 class="title">Project creation</h1>
                {{ form_start(form) }}
                 <div class="field col-sm-6">
                     {{ form_widget(form) }}
                     <br>
                    <input class="btn btn-success" value="Créer" type="submit">
                {{ form_end(form) }}
                <ul>
                    <li>
                        <br>
                        <a href="{{ path('projects_index') }}">Back to the list</a>
                    </li>
                </ul>
                 </div>
        </div>
    </div>
    {% endblock %}
