{% extends 'OpenContribViewBundle::main.html.twig' %}

{% block container %}
{% image '@OpenContribViewBundle/Resources/public/images/267-min.jpg' %}
  <div class="jumbotron" style="background-image:url({{ asset_url }});padding-bottom:0;margin-bottom:0">
    {% endimage %}
<h1 class="animated fadeInLeft">OpenContrib</h1>
<p class="animated fadeInRight">Apportez de la visibilité qui manque à vos projets !</p>

</div>
    <div class="col-lg-12"style="background-color: #E1E8EB;">
      <div class="col-lg-offset-1 col-lg-10">
          <ul class="homepage_text">
              <br>
<li class="animated fadeInLeft">Vous cherchez à participer au monde du libre ?</li><br>
<li class="animated fadeInRight">Vous pensez que votre projet peut être utile à d'autres ?</li><br>
<li class="animated fadeInLeft">Vous voulez apporter de la visibilité à vos idées ?</li><br>
<div class="trigger" class="spacer s0"></div>
          </ul>
      </div>
    </div>
    <b><p class='homepageTitle'>La plateforme OpenContrib est faite pour vous !</p></b>
<div class="col-lg-12  animate" style="font-size: 18px">
    <div class="presentation col-lg-offset-2 col-lg-8">
        <br>
        <p><b>OpenContrib</b> est une plateforme participative autour de projets open source quel qu'ils soient.
        Cette plateforme vous permet d'apporter de la visibilité à vos projets en vous proposant
        de poster vos projets directement en lien d'autres plateforme comme GitHub ou autre, de les décrire et de les
            <b>présenter</b> au grand public.<p>
        <p>La plateforme vous permet donc de prendre contact avec différents types de profils, entreprises,
        graphistes et autres développeurs qui pourront vous aider en contribuant à votre projet. Tant sur le plan
            du développement même que de l'organisation ou de la gestion de projet au niveau légal, les acteurs
            le disérant pourront mettre en oeuvre leurs compétences à votre service.
        Ainsi vos projets auront la visibilité qu'il méritent et même des profils inexperimentés vis à vis
        de github pourront entrer dans la danse!</p>

        <p>Cette plateforme a pour but de contribuer au monde du libre en garantissant le caractère libre des
        projets postés sur la plateforme. Ainsi, en ayant accès au dépot github directement sur la plateforme,
        la contribution par des acteurs externes devient facile et pratique.</p>
    <br>
        <p>Etudiants, entreprises, particuliers, lanceurs de projets, OpenContrib est fait pour nous tous.</p>
        <p>Qu'attendez vous alors pour partager vos idées ? <b>OpenContrib</b> est fait pour cela ! </p>
    <br><br>
    </div>
</div>
    <div class="project">
{{ render(controller('OpenContribProjectsBundle:Projects:indexHome')) }}
<div class="trigger3">

</div>
<div class="trigger2">

</div>
<p class="" style="margin-top:80px;"><a href="{{ path('projects_index') }}" class="btn btn-primary btn-lg" role="button" title="En savoir +">Voir la liste de nos projets</a></p>
</div>

<div class="ligne">

</div>

<div class="github">
 <div class="texte">
      <p>La plateforme proposer des contributions bénévoles, elle n'a pas pour objectif de gérer des transactions
      monétaires, il est donc interdit de réclamer/proposer des indémnisations financières.</p><br><br>
      <u><p><b>Conseils d'utilisation</b> pour les posteurs de projets :</p></u>
    <p>La plateforme utilise l'API qithub, il est important de penser à bloquer votre projet en lecture
        seule afin qu'il n'y ait pas de problème de contribution non désirée.</p>
      <u><p><b>Conseils d'utilisation</b> pour les contributeurs :</p></u>
      <p>Sachez que la plateforme vous incite fortement à travailler uniquement via des merges requests pour garantir
      l'intégrité des projets sur lequels vous voulez contribuer.</p>
  </div>
  <div class="api animate2">
    {% image '@OpenContribViewBundle/Resources/public/images/git.png' %}
      <img src="{{ asset_url }}" alt="">
        {% endimage %}
  </div>
</div>



<div class="contact">
  <div class="col"></div>
  <div class="col"></div>
  <div class="col"></div>
  <div class="col"></div>
</div>
{% endblock %}
